.CP1
{
	text-align: center;
    background-color: #3ff26c;
    padding-top: 60px;
    padding-bottom: 160px;
}
.CP2
{
    background-color: #67f0c7;
    padding-top: 10px;
    padding-bottom: 15px;
}
.CP3
{

    background-color: darkgray ;
    position: relative;
    top: 50px;
    padding: 10px 10px 10px 10px;
    border: 1 px solid black;
    

}
.CP4
{
    background-color:#3ff26c ;
}