.fp 
{
	text-align: center;
	background-color: #f7fa98;
	padding-bottom: 300px;
	padding-top: 40px;
}
.RP 
{
	text-align: center;
	background-color: #adc1f7;
	padding-bottom: 40px;
	bottom: 60px;
}
.RP2{
    background-color: darkgray ;
    position: relative;
    top: 50px;
    padding: 20px 20px 20px 20px;
    border: 1 px solid black;
    
}